apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
      - name: iris-api
        image: us-central1-docker.pkg.dev/mlops-473405/iris-api/iris-api:latest
        ports:
        - containerPort: 8200
        env:
        - name: MODEL_PATH
          value: "/app/models/model.joblib"
